{% extends "base.html" %}

{% block title %} 
Assign director
{% endblock %}

{% block content %} 
<h1>Assign director</h1>
<form action="{{ url_for('assign_director', name=name) }}" method="POST">
    
    <label for="email">Email:</label>
    <select id="email" name="email" required>
        {% for director in directors %}
        <option value={{ director.email }} >{{ director.email }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Assign director movie</button>
</form>

    <p><a href="/"> Back to home </a></p>
{% endblock %}