{% extends "base.html" %}

{% block title %} 
Create movie
{% endblock %}

{% block content %} 
<h1>Create a new movie</h1>
<form action="{{ url_for('create_movie') }}" method="POST">
    <label for="name">Movie Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="release_date">Release date:</label>
    <input type="date" id="release_date" name="release_date" required><br><br>

    <label for="length">Length (HH:MM):</label>
    <input type="text" id="length" name="length" required><br><br>

    <button type="submit">Create movie</button>

    <p><a href="/"> Back to home </a></p>
{% endblock %}