{% extends "base.html" %}

{% block title %} 
Director details
{% endblock %}

{% block content %} 
    <h1>Director Details</h1>

    <p><strong>Name:</strong> {{ director['name'] }}</p>
    <p><strong>Surname:</strong> {{ director['surname'] }}</p>
    <p><strong>Email:</strong> {{ director['email'] }}</p>
    <p><strong>Birthdate:</strong> {{ director['birthdate'] }}</p>
    <p><strong>Gender:</strong> {{ director['gender'] }}</p>
    <p><strong>Deathdate:</strong> {{ director['deathdate'] }}</p>
    <p><strong>Email:</strong> {{ director['email'] }}</p>


    <p><a href="{{ url_for('delete_director_by_email', email=director['email']) }}" > Delete director </a> </p>

    <p><a href="/"> Back to home </a></p>
{% endblock %}