{% extends "base.html" %}

{% block title %} 
All users
{% endblock %}

{% block content %} 
    <h1>Users List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthdate</th>
                <th>Deathdate</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.surname }}</td>
                <td>{{ person.birthdate }}</td>
                <td>{{ person.deathdate or '-' }}</td>
                <td>{{ person.gender }}</td>
                <td>
                    <a href="{{ url_for('get_user_by_email', email=person['email']) }}">{{ person['email'] }}</a>
                </td>                
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="/"> Back to home </a></p>
{% endblock %}